@{
    ViewBag.Title = "About";
}
<h2>Integround.Hubi</h2>
<p>
    Integround Hubi platform and Integround Component libraries are released as a part of Integround's open source software strategy.
</p>
<p>
    They are available for all developers to modify and use for any purpose.
</p>
<p>
    <b>We welcome all feedback and contributions. Fork, live long and prosper.</b>
</p>

<h2>About Integround</h2>
<p>
    Integround was incorporated in Helsinki, Finland in June 2012.
    We are specialized in system integration solutions and have vast experience in .NET development &
    cloud integrations hosted in Microsoft Azure. 
    We are integration professionals and also provide integration consulting and turn-key integration solutions.
</p>
<p>
    We are committed to an open source strategy to support successful integration projects everywhere. 
</p>
<h2>Learn more:</h2>
<address>
    GitHub: <a href="https://github.com/Integround" target="_blank">Integround in GitHub</a><br />
    Web: <a href="http://www.integround.com" target="_blank">Integround Web</a><br />
    Email: <a href="mailto:contact@integround.com">contact@integround.com</a><br />
    Twitter: <a href="https://www.twitter.com/Integround" target="_blank">@@Integround</a><br />
</address>

