@{
    ViewBag.Title = "Integround Hubi";
}

<div class="jumbotron">
    <h1>Integround Hubi</h1>
    <p>
        Integround Hubi is a simple open source platform for hosting your integration processes in the cloud.
    </p>
    <p>
        It is completely free and released under the MIT license.
    </p>
    <h3>Quick links:</h3>
    <ul>
        <li>Documentation: @Html.ActionLink("Hubi", "hubi", "documentation")</li>
        <li>License: @Html.ActionLink("MIT", "license", "home")</li>
        <li>Source: <a href="https://github.com/Integround/Integround.Hubi" target="_blank">Github</a></li>
    </ul>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Integround Hubi</h2>
        <p>
            Integround Hubi is an Azure Cloud Service application.
            It can host any process implementing the <i><b>Integround.Components.Core.IProcess</b></i> interface so you are pretty free to implement
            and host whatever you want with it. Integround Hubi also provides an HTTP interface service allowing your processes to register endpoints for their
            incoming HTTP/HTTPS traffic.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Integround Components</h2>
        <p>
            Also check @Html.ActionLink("Integround Components", "index", "components"), a collection of open source integration components
            to help you build custom integration solutions easily.
            These components can be used in any .NET application to make it easier to execute many integration-related tasks without
            writing all code by yourself.
        </p>
    </div>
</div>