@{
    ViewBag.Title = "Integround Components - Documentation";
}

<div class="jumbotron">
    <h1>Components documentation</h1>
    <p>
        Documentation and developer tutorials for Integround Components.
    </p>
    <p>Coming soon...</p>
</div>

