@{
    ViewBag.Title = "Integround Hubi - Documentation";
}

<div class="jumbotron">
    <h1>Hubi documentation</h1>
    <p>
        Documentation and developer tutorials for Integround Hubi.
    </p>
    <p>Coming soon...</p>
</div>

