@{
    ViewBag.Title = "Integround Hubi - Documentation";
}

<div class="jumbotron">
    <h1>Integround.Hubi</h1>
    <p>
        Documentation and developer tutorials for Integround Hubi.
    </p>
</div>
<hr />
@if (string.IsNullOrWhiteSpace(ViewBag.Content))
{
    <h3>Oops... Looks like You are looking for something that does not exist.</h3>
}
else
{
    @Html.Raw(ViewBag.Content)
}

@section Scripts
{
    @Scripts.Render("~/bundles/highlight")
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
}
