@{
    ViewBag.Title = "Integround - Documentation";
}

<div class="jumbotron">
    <h1>Documentation</h1>
    <p>
        Documentation and developer tutorials for Integround Hubi & Integround Components.
    </p>
    <h3>Documentation:</h3>
    <ul>
        <li>@Html.ActionLink("Hubi", "hubi", "documentation")</li>
        <li>@Html.ActionLink("Components", "components", "documentation")</li>
    </ul>
</div>

