@{
    ViewBag.Title = "Integround - Documentation";
}

<div class="jumbotron">
    <h1>Hey Doc</h1>
    <p>
        Documentation and developer tutorials for Integround Hubi & Integround Components.
    </p>
    <p>
        @Html.ActionLink("Hubi documentation", "hubi", "documentation")
    </p>
    <p>
        @Html.ActionLink("Components documentation", "components", "documentation")
    </p>
    <div>Something important missing? Throw us an <a href="mailto:contact@integround.com">email</a> or 
        <a href="https://www.twitter.com/Integround" target="_blank">tweet</a> and we'll fix it.</div>
</div>

